###########################################################
##
## el-CICD System Information
##
## WARNING: Only literal values in shell variable (property file) form should be defined in here,
## as the file will be converted into a ConfigMap by el-CICD and used by the system during runtime.
##
##
## The following values will only be used during bootstrap of an Onboarding Information Server
##
## SEE BELOW FOR RUNTIME SYSTEM VALUES
##
###########################################################

###########################################################
##
## OCP version information
##
###########################################################

# FOR OCP 4.x USE
OCP_VERSION=4

# FOR 3.11 USE
# OCP_VERSION=3

# FOR OCP 4.x USE
OCP_IMAGE_REPO=image-registry.openshift-image-registry.svc:5000/openshift

# FOR 3.11 USE
# OCP_IMAGE_REPO=docker-registry.default.svc:5000/openshift

###########################################################
##
## el-CICD General directory structure values 
## NOTE: assume paths are relative to wherever el-CICD repo is located locally; i.e. where el-CICD.sh is run from
##
###########################################################

SECRET_FILE_DIR=${BOOTSTRAP_DIR}/../cicd-secrets
SECRET_FILE_TEMP_DIR=${SECRET_FILE_DIR}/tmp

###########################################################
##
## el-CICD Git deploy keys and access tokens
##
###########################################################

SEALED_SECRET_RELEASE_VERSION=v0.13.1

EL_CICD_GIT_PROVIDER=github

# Domain to call Git host provider RESTful API
EL_CICD_GIT_API_DOMAIN=api.github.com

# Organization/account where el-CICD repos are hosted
EL_CICD_ORGANIZATION=elcicd

EL_CICD_SSH_READ_ONLY_PUBLIC_DEPLOY_KEY_TITLE=el-cicd-read-only-public-key
EL_CICD_SSH_READ_ONLY_DEPLOY_KEY_FILE=${SECRET_FILE_DIR}/el-cicd-deploy-key

EL_CICD_CONFIG_SSH_READ_ONLY_PUBLIC_DEPLOY_KEY_TITLE=el-cicd-config-read-only-public-key
EL_CICD_CONFIG_SSH_READ_ONLY_DEPLOY_KEY_FILE=${SECRET_FILE_DIR}/el-cicd-config-github-deploy-key

EL_CICD_GIT_REPO_ACCESS_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-git-repo-access-token

###########################################################
##
## For each environment defined in your *.config you will need to define a variable of the form
##
## <ENV>_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/<name of pull token file>
##
###########################################################

STG_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-non-prod-pull-token

PROD_PULL_TOKEN_FILE=${SECRET_FILE_DIR}/el-cicd-prod-pull-token

###########################################################
##
## END OF BOOTSTRAP VALUES
##
###########################################################

###########################################################
##
## THE FOLLOWING VALUES ARE el-CICD RUNTIME VALUES
##
###########################################################

EL_CICD_MASTER_NAMESPACE=el-cicd-prod-master
EL_CICD_MASTER_NODE_SELECTORS=
EL_CICD_RBAC_GROUP_MASTER_NODE_SELECTORS=

CLUSTER_WILDCARD_DOMAIN=apps-crc.testing

EL_CICD_META_INFO_NAME=el-cicd-meta-info

###########################################################
##
## Git repo information
##
###########################################################

GIT_CREDS_POSTFIX=git-repo-private-key

EL_CICD_GIT_REPO=git@github.com:elcicd/el-CICD.git
EL_CICD_BRANCH_NAME=development
EL_CICD_READ_ONLY_GITHUB_PRIVATE_KEY_ID=el-cicd-read-only-git-repo-private-key

EL_CICD_CONFIG_REPOSITORY=git@github.com:elcicd/el-CICD-config.git
EL_CICD_CONFIG_REPOSITORY_BRANCH_NAME=development
EL_CICD_CONFIG_REPOSITORY_READ_ONLY_GITHUB_PRIVATE_KEY_ID=el-cicd-config-read-only-git-repo-private-key

GIT_SITE_WIDE_ACCESS_TOKEN_ID=git-site-wide-access-token

###########################################################
##
## WARNING:
##  The following value is the title for for the public keys
##  used to download each el-CICD git repo in each pipeline.
##  The value for each el-CICD install (prod or non-prod, and per cluster)
##  should be unique.
##
###########################################################

EL_CICD_DEPLOY_KEY_TITLE_PREFIX=el-cicd-prod-deploy-key

###########################################################
##
## Supported environments:
## WARNING:
##     All environments should be capitalized to mach configuration variables in following section
##     There must be a dev and prod env defined
##     There must be at least one test environment defined
##         - colons are delimiters for multiple test environment; e.g. TEST_ENVS=QA:UAT:LOAD
##
###########################################################

EL_CICD_GROUP_NAMESPACE_POSTFIX=el-cicd-prod

PRE_PROD_ENV=STG

PROD_ENV=PROD

###########################################################
##
## Image repository configuration per environment.
## NOTE: configuration for each environment must follow the same pattern for environment ENV:
##
## <ENV>_IMAGE_REPO_DOMAIN=<some repository domain>
## <ENV>_IMAGE_REPO_USERNAME=<some repository username or organization id>
## <ENV>_IMAGE_REPO=<some repository url *_IMAGE_REPO_DOMAIN/*${el.cicd.IMAGE_REPO_USERNAME_POSTFIX}>
## <ENV>_IMAGE_REPO_PULL_SECRET=<some pull secret name; secret is generated at startup with this name>
## <ENV>_IMAGE_REPO_ACCESS_TOKEN_ID=<some id that will be used as the Jenkins credentials id>
## <ENV>_NODE_SELECTORS=<any node selectors you want the SDLC project to have>
##
###########################################################

STG_IMAGE_REPO_DOMAIN=docker.io
STG_IMAGE_REPO_USERNAME=elcicdnonprod
STG_IMAGE_REPO=docker.io/elcicdnonprod
STG_IMAGE_REPO_PULL_SECRET=el-cicd-image-repo-non-prod-pull-secret
STG_IMAGE_REPO_ACCESS_TOKEN_ID=image-repo-non-prod-access-token
STG_NODE_SELECTORS=

PROD_IMAGE_REPO_DOMAIN=docker.io
PROD_IMAGE_REPO_USERNAME=elcicdprod
PROD_IMAGE_REPO=docker.io/elcicdprod
PROD_IMAGE_REPO_PULL_SECRET=el-cicd-image-repo-prod-pull-secret
PROD_IMAGE_REPO_ACCESS_TOKEN_ID=image-repo-prod-access-token
PROD_NODE_SELECTORS=

###########################################################
##
## Jenkins image settings
##
###########################################################

JENKINS_IMAGE_STREAM=el-cicd-prod-jenkins

# WARNING: The following values cannot be blank, and the files names MUST exist
# in the jenkins directory, even if they are empty and do nothing
JENKINS_CASC_FILE=prod-jenkins-casc.yml
JENKINS_PLUGINS_FILE=prod-plugins.txt

JENKINS_AGENT_IMAGE_PREFIX=jenkins-agent-el-cicd
JENKINS_AGENT_DEFAULT=base
JENKINS_AGENT_NAMES=java-maven:python:r-lang
JENKINS_SKIP_AGENT_BUILDS=false

JENKINS_MEMORY_LIMIT=4Gi
JENKINS_VOLUME_CAPACITY=4Gi
JENKINS_DISABLE_ADMINISTRATIVE_MONITORS=true

JENKINS_AGENT_MEMORY_IDLE_MINUTES=30
JENKINS_AGENT_MEMORY_LIMIT=4Gi
JENKINS_AGENT_CPU_LIMIT=2

# FOR CLUSTERS WITH LIMITED NEED OR RESOURCES, USE THE FOLLOWING JENKINS SETTINGS

# JENKINS_MEMORY_LIMIT=2Gi
# JENKINS_VOLUME_CAPACITY=2Gi
# JENKINS_DISABLE_ADMINISTRATIVE_MONITORS=true

# JENKINS_AGENT_MEMORY_IDLE_MINUTES=1
# JENKINS_AGENT_MEMORY_LIMIT=2Gi
# JENKINS_AGENT_CPU_LIMIT=750m

###########################################################
##
## Customer miscellaneous settings
##
## Add your customer specific settings here
##
###########################################################

# SONARQUBE_HOST_URL=
# SONARQUBE_ACCESS_TOKEN_ID=sonarqube-access-token